
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Violence Detection-Camera surveillance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="static/asset/bowsett.ico">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
  <link href="fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <style>
  
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      
      
      
    }
    .hero-image {
      
      
      max-width: 1000px;
      margin: auto;

      position: relative;
    }
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .inp-pretrain {
      width: 50%;
      text-align: left;
    }
    .inp-data {
      width: 50%;
      text-align: left;
    }
    .all {
      display: flex;
      flex-flow: row wrap;
    }

    input[type=submit] {
      
      /* padding: 12px 20px; */
      /* margin: 8px 0; */
      display: block;
      
      /* font-size: 1.5em; */
      color: black;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* box-sizing: border-box; */
      /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
      
      /* border-radius: 25px; */
    
    }

    .flex_info {
      display: flex;
      justify-content: space-between;
    }
    h3 {
      margin-bottom: 0px;
    }

    .banner {
      display: flex;
      justify-content: space-between;
      height: 80px;
      width: 100%;
      align-items: center;
      padding-top: 10px;
    }
    .right_banner {
      display: flex;
    
    }
    .site_name {
      margin: 0 0 5px 0;
      color: #555;
      font-size: 30px;
      font-weight: normal;
      line-height: 1;
      text-transform: uppercase;
    }
    .site_tagline {
    color: #555;
    }
    .container h1,h2 {
      text-align: center;
    }
    .upfiles {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      max-width: 400px;
      margin: auto;
      justify-content: space-between;
      margin-top: 30px;
    

    }
    .footer {
      bottom: 0px;
      position: absolute;
      background-color:#212529;
      width: 100%;
      color:#ADB5BD;
      text-align: center;
      font-size: 12px;
      font-family: sans-serif;
      
      
    }
    .flex_footer {
      display: flex;
      width: 100%;
    
      
    }
    .info {
    width: 40%;
    text-align: left
    }
    .flex_foot {
      width: 100%;
      display : flex;
    }

    .flex_footer H3 {
      font-size: 12px;
      text-align: left;
    }
    .flex_icon {
      display: flex;
      align-items: center;
    }
    ul {
      list-style: none;
      text-align: left;
      line-height: 20px;
      justify-items: center;
      
    }
    td {
      text-align: left;
    }

    .color{
      color: white;
      text-align: left;
    }
    .fa-input {
      font-family: 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .banner_result{
      position: relative;
      margin-top: 20px;
    }
    .header_result {
      display: flex;
      width: 55%;
      justify-content: space-between;
      align-items: center;
    }
    .upfiles2 {
      display: flex;
      background-color: white;
    
    }
    .flex_footer_result {
      display: flex;
      max-width: 50%;
      margin: auto;
      justify-content: space-around;
      padding-top: 20px;
    }
    .row {
      margin-top: 60px;
    }
  </style>

</head>


<body>
<div class="Body">
  <img style="position: absolute;
  width: 100%;
  height: 100%;
  top: 0;"src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.15752-9/133153882_310687406951323_7169943978230091703_n.jpg?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=HAXWPbgDqJkAX_GMSTn&_nc_ht=scontent.fsgn5-6.fna&oh=adf8c9e22ca3e2c2abb82370a7abf1e5&oe=60147BE5">
<div class="hero-image">
  <div class="container">
    <img style="height: 100px; margin-right: auto; margin-left: auto; display: block; margin-top: 100px; "src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.15752-9/133515480_1592979520886386_857393114384545318_n.png?_nc_cat=104&ccb=2&_nc_sid=ae9488&_nc_ohc=7LRIvd81HigAX8qkMmM&_nc_ht=scontent.fdad3-2.fna&oh=806613b4cb78bfd59997a1ff3fe514a2&oe=60148E6F">
    <br>
   
      <form class="upfiles" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
        <!-- <button type="submit" ><i class="fas fa-search"></i></button> -->
      </form>
      <!-- {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %} -->
            
  
   




  </div>
  
</div>
<div class="footer">
  <div class="flex_footer">
  
  <div class="flex_foot">
      <img style="height: 80px; padding-right: 10px; margin-top: 20px;" src="https://scontent-xsp1-1.xx.fbcdn.net/v/t1.15752-9/134519485_1037789203357205_1088669287820852917_n.png?_nc_cat=110&ccb=2&_nc_sid=ae9488&_nc_ohc=7F0dXrvzfD4AX-l4XLQ&_nc_ht=scontent-xsp1-1.xx&oh=2820f30f67db9b537852e5a2672e9c02&oe=60152FBF">
      <img style="height: 80px; padding-right: 10px; margin-top: 20px;"src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.15752-9/133283561_1122986581463756_7588185849610245824_n.png?_nc_cat=110&ccb=2&_nc_sid=ae9488&_nc_ohc=oLzFvVH1es4AX8ePQIR&_nc_ht=scontent.fsgn5-3.fna&oh=aeb3e962970498021c90ed3af4d1c8ff&oe=601287A4">
  
    
    <div>
      <p style="margin-bottom: 5px;" class="color"> Khoa Khoa học Máy tính</p>
      <table>
        <tr>
          <td><i class="fas fa-map-marker-alt"></i></td>
          <td>Phòng E5.2, Tòa nhà E, ĐH Công nghệ Thông tin</td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-bottom: 5px;">Khu phố 6, Linh Trung, Thủ Đức, TP. Hồ Chí Minh</td>
        </tr>
        <tr>
          <td><i class="fas fa-phone-alt"></i></td>
          <td style="padding-bottom: 5px;">(084) 28-372 – 52002 ext 132</td>
        </tr>
        <tr>
          <td><i class="far fa-envelope"></i></td>
          <td>Giaovu.khmt@uit.edu.vn</td>
        </tr>
      </table>
    </div>
  </div>
     <div class="info">
      <p style="margin-bottom: 5px;" class="color"> Giáo viên hướng dẫn </p>
      <table>
        <tr> 
          <td></td> 
          <td></td>
          <td>PGS.TS Lê Đình Duy </td> 
        </tr>
        <tr>
          <td></td> 
          <td></td>
          <td><i class="far fa-envelope"></i> Duyld@uit.edu.vn </td>
        </tr>
      </table>
     </div>
     <div class="info">
      <p style="margin-bottom: 5px;" class="color">Sinh viên thực hiện </p>
      <table>
        <tr> 
          <td></td> 
          <td></td>
          <td>Lê Quốc Thịnh </td> 
        </tr>
        <tr>
          <td></td> 
          <td></td>
          <td style="padding-bottom: 5px;"><i class="far fa-envelope"></i> 17521087@gm.uit.edu.vn </td>
        </tr>
        <tr> 
          <td></td> 
          <td></td>
          <td>Võ Văn Tuấn </td> 
        </tr>
        <tr>
          <td></td> 
          <td></td>
          <td><i class="far fa-envelope"></i> 17521229@gm.uit.edu.vn </td>
        </tr>
      </table>
     </div>
     
       
       
       
     </div>
   </div>
</div>
</div>
</div> 
</div>
</body>
</html>

<!-- <html>
   <header>
    <meta charset="UTF-8">
    <title>Flask Test</title>
   </header>

   <body>
    <div class="container">
        <h1>Violence Detection in video surveillance</h1>
        <br>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
   </body>
</html> -->