<html>
  <head>

  </head>
  <body>
    <h1>Result</h1>

    <!-- <img src="/static/{{file}}" /> -->
<!-- 
    <video  controls>
      <source src="/static/{{file}}">
      <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
    </video> -->
    <p><video width="540" height="405" controls>
      <source src="static/output.webm" type="video/webm">
    </video></p>
  </body>

</html>