
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  
  
}
.hero-image {
  
  
  max-width: 1000px;
  margin: auto;

  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.inp-pretrain {
  width: 50%;
  text-align: left;
}
.inp-data {
  width: 50%;
  text-align: left;
}
.all {
  display: flex;
  flex-flow: row wrap;
}

input[type=submit] {
  
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  display: block;
  
  /* font-size: 1.5em; */
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* box-sizing: border-box; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  
  /* border-radius: 25px; */
 
}

.flex_info {
  display: flex;
  justify-content: space-between;
}
h3 {
  margin-bottom: 0px;
}

.banner {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}
.right_banner {
  display: flex;
 
}
.site_name {
  margin: 0 0 5px 0;
  color: #555;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}
.site_tagline {
 color: #555;
}
.container h1,h2 {
  text-align: center;
}
.upfiles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 400px;
  margin: auto;
  justify-content: space-between;
  margin-top: 30px;
 

}
.footer {
  bottom: 0px;
  position: absolute;
  background-color:#212529;
  width: 100%;
  color:#ADB5BD;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  
  
}
.flex_footer {
  display: flex;
  width: 100%;
 
  
}
.info {
 width: 40%;
 text-align: left
}
.flex_foot {
  width: 100%;
  display : flex;
}

.flex_footer H3 {
  font-size: 12px;
  text-align: left;
}
.flex_icon {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  text-align: left;
  line-height: 20px;
  justify-items: center;
  
}
td {
  text-align: left;
}

.color{
  color: white;
  text-align: left;
}
.fa-input {
  font-family: 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.banner_result{
  position: relative;
  margin-top: 20px;
}
.header_result {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}
.upfiles2 {
  display: flex;
  background-color: white;
 
}
.flex_footer_result {
  display: flex;
  max-width: 50%;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
}
.row {
  margin-top: 60px;
}